<div class="container-fluid" style="text-decoration-color: white;">
  <a class="navbar-brand" href="#">Mi Aplicación</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <form class="d-flex ms-auto" >
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" >
      <button class="btn btn-outline-light" type="submit">Buscar</button>
    </form>
    <button class="btn btn-outline-light ms-2" >Salir</button>
  </div>
</div>
