

		<div class="self-start hidden lg:flex flex-col  text-gray-300 mt-6" >
		</div>

			<div class="mb-5">
				<h3 class="font-semibold text-4xl text-green-800 text-center"> Nuevo Usuario</h3>
			</div>

        <div class="flex justify-center">
        <div class="w-[60%] relative">
          <div class=" relative mb-5">
            <input [(ngModel)]="nombre" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400 " type="text" placeholder="Nombre">
          </div>
          <div class="relative mb-5" x-data="{ show: true }">
          <input [(ngModel)]="apepaterno" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400" type="text" placeholder="Apellidos Paternos">
          <div>
            <div class="self-start hidden lg:flex flex-col  text-gray-300 mt-6" >
            </div>
          <div class="relative mb-5" x-data="{ show: true }">
            <input [(ngModel)]="apematerno" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400" type="text" placeholder="Apellidos Maternos">
          </div>
          <div class="relative mb-5" x-data="{ show: true }">
            <input [(ngModel)]="dni" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400" type="text" placeholder="Documentos de Identidad">
          </div>
          <div class="relative mb-5" x-data="{ show: true }">
            <input [(ngModel)]="email" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400" type="email" placeholder="Correo Electronico">
          </div>
			</div>
					<div class="flex space-x-4 mb-5">
						<button (click)="registrar()" type="submit" class="w-full flex justify-center bg-green-800  hover:bg-green-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
                Registrar Usuario
            </button>
            <button (click)="volver()" type="submit" class="w-full flex justify-center bg-red-800  hover:bg-red-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
             Volver
            </button>
					</div>
				</div>
				<div class="mt-7 text-center text-gray-300 text-xs mb-5">
					<span>
                Copyright © 2024 - Proyecto Integrador
          </span>
				</div>
        </div>



