<!-- Contenedor principal con fondo verde oscuro y que cubre todo el tamaño del body -->
<div class="min-vh-100 d-flex align-items-center justify-content-center" style="background-color: #174810;">
  <!-- Contenedor del formulario con fondo blanco y esquinas redondeadas -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <!-- Div que contiene el formulario -->
        <div class="p-4 bg-white rounded-3 shadow-sm">
          <!-- Título centrado -->
          <div class="text-center mb-5">
            <div class="d-flex justify-content-center mb-3">
              <img src="https://cdn.icon-icons.com/icons2/2073/PNG/512/add_contact_twitter_user_icon_127131.png" alt="Usuario" style="max-height: 150px;">
            </div>
            <h3 class="fw-semibold text-success fs-1 text-center">Nuevo Usuario</h3>
          </div>
          <!-- Campo para el nombre del usuario -->
          <div class="mb-4">
            <input [(ngModel)]="nombre" type="text" class="form-control" [ngClass]="{'is-invalid': !isNombreValid && nombre.length > 0}" placeholder="Nombre">
            <div class="invalid-feedback" *ngIf="!isNombreValid && nombre.length > 0">
              Ingrese nombre correcto es requerido.
            </div>
          </div>

          <!-- Campo para el apellido paterno del usuario -->
          <div class="mb-4">
            <input [(ngModel)]="apepaterno" type="text" class="form-control" [ngClass]="{'is-invalid': !isApePaternoValid && apepaterno.length > 0}" placeholder="Apellido Paterno">
            <div class="invalid-feedback" *ngIf="!isApePaternoValid && apepaterno.length > 0">
              Ingrese Apellido Paterno correcto es requerido.
            </div>
          </div>

          <!-- Campo para el apellido materno del usuario -->
          <div class="mb-4">
            <input [(ngModel)]="apematerno" type="text" class="form-control" [ngClass]="{'is-invalid': !isApeMaternoValid && apematerno.length > 0}" placeholder="Apellido Materno">
            <div class="invalid-feedback" *ngIf="!isApeMaternoValid && apematerno.length > 0">
              Ingrese Apellido Materno correcto es requerido.
            </div>
          </div>

          <!-- Campo para el documento de identidad del usuario -->
          <div class="mb-4">
            <input [(ngModel)]="dni" type="text" class="form-control" [ngClass]="{'is-invalid': !isDniValid && dni.length > 0}" placeholder="Documento de Identidad">
            <div class="invalid-feedback" *ngIf="!isDniValid && dni.length > 0">
              Documento de Identidad es requerido y debe de 8 digitos.
            </div>
          </div>

          <!-- Campo para el correo electrónico del usuario -->
          <div class="mb-4">
            <input [(ngModel)]="email" type="email" class="form-control" [ngClass]="{'is-invalid': !isEmailValid && email.length > 0}" placeholder="Correo Electrónico">
            <div class="invalid-feedback" *ngIf="!isEmailValid && email.length > 0">
              Correo Electrónico es inválido.
            </div>
          </div>

          <!-- Contenedor para los botones -->
          <div class="d-flex justify-content-between">
            <!-- Primer botón -->
            <button (click)="registrar()" type="button" class="btn btn-success flex-fill me-2" style="height: 50px;" [disabled]="!isFormValid()">
              Registrar Usuario
            </button>
            <!-- Segundo botón -->
            <button (click)="volver()" type="button" class="btn btn-danger flex-fill ms-2" style="height: 50px;">
              Volver
            </button>
          </div>

          <!-- Pie de página con derechos de autor -->
          <div class="text-center text-muted mt-4">
            <span>Copyright © 2024 - Proyecto Integrador</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
