<div>

</div>
<div>
	<div class="flex-col flex  self-center lg:px-14 sm:max-w-4xl xl:max-w-md  z-10">
		<div class="self-start hidden lg:flex flex-col  text-gray-300" >
		</div>
	</div>
	<div class="flex justify-center self-center  z-10">
		<div class="p-12 bg-white mx-auto rounded-3xl w-144 ">
			<div class="mb-7">
				<h3 class="font-semibold text-4xl text-green-800 text-center"> Nuevo Usuario</h3>
			</div>
			<div class="space-y-6">
          <div class="">
            <input [(ngModel)]="nombre" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400" type="text" placeholder="Nombre">
          </div>
          <div class="relative" x-data="{ show: true }">
          <input [(ngModel)]="apepaterno" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400" type="text" placeholder="Apellidos Paternos">
          <div>
          <div class="relative" x-data="{ show: true }">
            <input [(ngModel)]="apematerno" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400" type="text" placeholder="Apellidos Maternos">
          </div>
          <div class="relative" x-data="{ show: true }">
            <input [(ngModel)]="dni" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400" type="text" placeholder="Documentos de Identidad">
          </div>
          <div class="relative" x-data="{ show: true }">
            <input [(ngModel)]="email" class=" w-full text-sm  px-4 py-3 bg-gray-200 focus:bg-gray-100 border  border-gray-200 rounded-lg focus:outline-none focus:border-green-400" type="email" placeholder="Correo Electronico">
          </div>
			</div>
					<div>
						<button (click)="registrar()" type="submit" class="w-full flex justify-center bg-green-800  hover:bg-green-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
                Registrar Usuario
            </button>
            <button (click)="volver()" type="submit" class="w-full flex justify-center bg-green-800  hover:bg-green-700 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
             Volver
            </button>
					</div>
				</div>
				<div class="mt-7 text-center text-gray-300 text-xs">
					<span>
                Copyright © 2024 - Proyecto Integrador
          </span>
				</div>
			</div>
		</div>

<svg class="absolute bottom-0 left-0 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>

