<div class="container-fluid">
  <!-- Barra lateral fija a la izquierda -->
  <div class="sidebar">
    <app-sidebar class="menu"></app-sidebar>
  </div>

  <!-- Contenedor principal -->
  <div class="main-content">
    <!-- Barra de navegación fija en la parte superior -->
    <!--<div class="navbar">
      <app-header></app-header>
    </div> -->

    <!-- Contenedor para el contenido principal con scroll -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <!-- Pie de página fijo en la parte inferior -->
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
