


<div class="table-container">
    <p class="rojo">
      Tabla de canchas
    </p>
  
    <div class="buscar">
      <label for="">Buscar: </label>

      //pendite barra buscar
      <input type="text" (keyup)="buscar($event)"> 
    </div>
  
    <button id="nuevo" routerLink="/app/canchas/nuevo" >Nuevo +</button>
    
    <div class="separador">
      <div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Numero</th>
              <th>Deporte</th>
              <th>Sede</th>
              <th>Precio</th>
              <th>Flat</th>
              <th class="eliminar">Acciones</th>
            </tr>
          </thead>
          
  
          <tbody>
            <tr *ngFor="let cancha of filtroClientes">
              <td>{{ cancha.idCancha}}</td>
              <td>{{ cancha.numero }}</td>
              <td >{{ cancha.deporte }}</td>
              <td>{{ cancha.sede }}</td>
              <td>{{ cancha.precio }}</td>
              <td>{{ cancha.flat }}</td>
              <td class="eliminar">

                //pendite eliminarPorId
                <button (click)="eliminarPorId(cancha.idCancha)">❌</button>

                //pendite editarCancha
                <button class="editar" (click)="editarCancha(cancha)">✏️</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
  </div>