<!-- Contenedor principal para el botón "Nueva Cancha" -->
<div class="container mt-5">
  <!-- Contenedor principal para la tabla de detalles de la cancha -->
  <div class="container mt-5">
    <!-- Botón para crear una nueva cancha, alineado a la izquierda -->
    <button class="btn btn-dark btn-left" (click)="createCancha()">Nueva Cancha</button>
    <br>
    <br>
    <!-- Título centrado y en color verde con fuente en negrita -->
    <p class="text-center fw-bold" style="color: white;">Detalles de la Cancha</p>
    <div class="container mt-4">
      <!-- Tabla con estilos de Bootstrap: alternar filas y bordes -->
      <table class="table table-striped table-bordered">
        <!-- Encabezado de la tabla con fondo oscuro -->
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Tipo de Cancha</th>
          <th>Sede</th>
          <th>Deporte</th>
          <th>Precio</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <!-- Fila para cada cancha, generada dinámicamente con *ngFor -->
        <tr *ngFor="let cancha of canchas">
          <td class="text-center">{{ cancha.id }}</td>
          <td class="text-center">{{ cancha.tipoCancha }}</td>
          <td>{{ cancha.sede.nombre }}</td>
          <td class="text-center">{{ cancha.deporte }}</td>
          <td class="text-center">{{ cancha.precio | currency }}</td>
          <td class="text-center">{{ cancha.estado }}</td>
          <td class="text-center">
            <!-- Botones para editar y eliminar la cancha, con estilos de botón de advertencia y tamaño pequeño -->
            <button class="btn btn-warning btn-sm" (click)="editCancha(cancha.id)">Editar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
