<div class="pop-up">
    <form [formGroup]="canchaForm" (ngSubmit)="guardar()">
  
      <div>
        <label for="numero">Numero:</label>
        <div>
          <input class="numero" type="number" formControlName="numero" placeholder="Numero">
          <span *ngIf="canchaForm.get('numero') && canchaForm.get('numero')!.errors && canchaForm.get('numero')!.touched">
            Por favor, ingrese solo números
          </span>
        </div>
      </div>
      <div>
        <label for="deporte">Deporte:</label>
        <div>
          <input type="text" formControlName="deporte" placeholder="Deporte">
          <span *ngIf="canchaForm.get('deporte') && canchaForm.get('deporte')!.errors && canchaForm.get('deporte')!.touched">
            Por favor, ingrese solo texto.
          </span>
        </div>
  
      </div>
      <div>
        <label for="sede">Sede:</label>
        <div>
          <input type="text" formControlName="sede" placeholder="Sede">
          <span *ngIf="canchaForm.get('sede') && canchaForm.get('sede')!.errors && canchaForm.get('sede')!.touched">
            Por favor, ingrese solo texto.
          </span>
        </div>
      </div>
      <div>
        <label for="precio">Precio:</label>
        <div>
          <input class="precio" type="number" formControlName="precio" placeholder="Precio">
          <span *ngIf="canchaForm.get('precio') && canchaForm.get('precio')!.errors && canchaForm.get('precio')!.touched">
            Por favor, ingrese solo números
          </span>
        </div>
      </div>
  
      <div>
        <label for="flat">Flat:</label>
        <div>
            <input type="text" formControlName="flat" placeholder="Flat">
            <span *ngIf="canchaForm.get('flat') && canchaForm.get('flat')!.errors && canchaForm.get('flat')!.touched">
              Por favor, ingrese solo texto.
            </span>
          </div>
      </div>

      <button type="submit">Guardar</button>
    </form>
  </div>