@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Estilo para el contenedor del formulario */
.form-container {
  background-color: #ffffff; /* Fondo blanco para el formulario */
  max-width: 1450px; /* Ancho máximo del formulario */
  margin: auto; /* Centra el contenedor del formulario horizontalmente */
  border-radius: 8px; /* Opcional: agrega bordes redondeados */
}

h2 {
  font-size: 40px; /* Tamaño de fuente grande */
  font-family: 'Bebas Neue', sans-serif; /* Fuente Bebas Neue */
  letter-spacing: 2px; /* Espacio entre letras */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra ligera para el texto */
  margin-bottom: 20px; /* Espacio inferior */
}


/* Botón Registrar */
.btn-success {
  background-color: #28a745; /* Color verde */
  border-color: #28a745; /* Color verde */
  font-size: 20px; /* Tamaño de fuente grande */
}

/* Botón Volver */
.btn-danger {
  background-color: #dc3545; /* Color rojo */
  border-color: #dc3545; /* Color rojo */
  font-size: 20px; /* Tamaño de fuente grande */
}