/* Estilo para el contenedor del formulario */
.form-container {
  background-color: #ffffff; /* Fondo blanco para el formulario */
  max-width: 1450px; /* Ancho máximo del formulario */
  margin: auto; /* Centra el contenedor del formulario horizontalmente */
  border-radius: 8px; /* Opcional: agrega bordes redondeados */
}

.btn-lg {
  padding: 15px 30px; /* Aumenta el tamaño del botón */
  font-size: px; /* Aumenta el tamaño de la fuente */
  background-color: #174810;
}
