<div class="container mt-5">
  <div class="container mt-5">
    <button class="btn btn-dark btn-left" (click)="createSede()">Nueva Sede</button>
    <br><br>
    <p class="text-center fw-bold" style="color: white;">Detalles de la Sede</p>
    <div class="container mt-4">
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Departamento</th>
          <th>Provincia</th>
          <th>Distrito</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th>Capacidad</th>
          <th>Horario de Apertura</th>
          <th>Horario de Cierre</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sede of sedes">
          <td class="text-center">{{ sede.id }}</td>
          <td class="text-center">{{ sede.nombre }}</td>
          <td class="text-center">{{ sede.ubigeo.departamento }}</td>  <!-- Departamento -->
          <td class="text-center">{{ sede.ubigeo.provincia }}</td>     <!-- Provincia -->
          <td class="text-center">{{ sede.ubigeo.distrito }}</td>      <!-- Distrito -->
          <td>{{ sede.direccion }}</td>                                <!-- Dirección -->
          <td class="text-center">{{ sede.telefono }}</td>
          <td>{{ sede.email }}</td>
          <td class="text-center">{{ sede.capacidad }}</td>
          <td class="text-center">{{ sede.horarioApertura }}</td>
          <td class="text-center">{{ sede.horarioCierre }}</td>
          <td class="text-center">{{ sede.estado }}</td>
          <td class="text-center">
            <button class="btn btn-warning btn-sm" (click)="editSede(sede.id)">Editar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
