<div class="container mt-5">
  <button class="btn btn-success btn-left" (click)="createSede()">Nueva Sede</button>
</div>

<div class="container mt-5">
  <h1 class="text-center text-success fw-bold">Detalles de la Sede</h1>
  <br>
  <div class="container mt-4">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Distrito</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Capacidad</th>
        <th>Horario de Apertura</th>
        <th>Horario de Cierre</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sede of sedes">
        <td>{{ sede.id }}</td>
        <td>{{ sede.nombre }}</td>
        <td>{{ sede.direccion }}</td>
        <td>{{ sede.distrito }}</td>
        <td>{{ sede.telefono }}</td>
        <td>{{ sede.email }}</td>
        <td>{{ sede.capacidad }}</td>
        <td>{{ sede.horarioApertura }}</td>
        <td>{{ sede.horarioCierre }}</td>
        <td>{{ sede.estado }}</td>
        <td>
          <button class="btn btn-warning" (click)="editSede(sede.id)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


